.header {
  grid-area: head;
  display: flex;
}

.header-main {
  width: 100%;
  background-color: aliceblue;
  display: flex;
}

.header-main__logo {
  width: 21%;
  display: flex;
  margin-left: 0px;
  background-color: white; 
}
.header-main__logo img {
  margin-left: 90px;
}

.header-main__auth__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header-main__auth__link {
  display: flex; 
  align-items: center;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  font-size: 14px; 
}

.header-main__auth__link:hover {
 background-color: gold;
 color: aliceblue;
}


.header-main__auth__btn {
  margin: 0px 0px 0px 20px;
  padding: 0px 10px 0px 10px;
}

.header-main__auth__btn:hover {
  color: aliceblue;
  background-color: gold;
}