.header {
  grid-area: head;
  display: flex;
}

.header-main {
  width: 100%;
  background-color: aliceblue;
  display: flex;
}

.header-main__logo {
  width: 17.5%;
  display: flex;
  margin-left: 0px;
  background-color: white; 
}
.header-main__logo img {
  margin-left: 50px;
}