.friend-profile {
  display: flex;
}

.friends-profile__item {
display: inline-block;
text-align: center;
}

.friends-profile__item__img {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 50px;
}

.friends-profile__item__btn {
  width: 80px;
  height: 25px;
}