.fiendsFrame {
 margin-top: 65px;
 display:inline-table;
 
}

.fiendsFrame__h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  padding-left: 60px;
  margin-bottom: 10px;
}

.fiendsFrame__h2 span {
  margin-left: -45px;
  font-size: 30px;
}

.fiendsFrame__wrapper {  
  text-align:center;
}




