

.users__inner__item {
  padding-bottom: 30px;
  font-size: 16px;
}

.users__inner__link {
  text-decoration: none;
  color: inherit;
}

.users__inner__link:hover {
  font-weight: 700;
  font-size: 18px;
}

.users__inner__link.active {
  font-weight: 700;
  font-size: 18px;
}

