.side-bar {
  grid-area: nav;
  background-color: aliceblue;
}

.side-bar__item {
 margin: 15px 10px 0px 20px;
}

.side-bar__item__link {
  font-size: 20px;
  font-weight: 500;
  color:rgb(69, 69, 71);
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;
}

.side-bar__item:last-child {
  margin-top: 40px;
} 

.side-bar__item__link.active {
  color: rgb(255, 221, 28);
}

.side-bar__item__link:hover {
  color: gold;
}
