.side-bar {
  grid-area: nav;
  background-color: aliceblue;
}

.side-bar__item {
 margin: 20px 10px 0px 20px;
}

.side-bar__item__link {
  font-size: 20px;
  font-weight: 600;
  color:rgb(69, 69, 71);
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;
}

.side-bar__item:last-child {
  margin-top: 40px;
} 

.side-bar__item__link_mod1.active {
  color: rgb(27, 208, 211);
}
.side-bar__item__link_mod2.active {
  color: rgb(142, 224, 142);
}
.side-bar__item__link_mod3.active {
  color: rgb(255, 221, 28);
}
.side-bar__item__link_mod4.active {
  color: hotpink;
}
.side-bar__item__link_mod5.active {
  color:rgb(253, 117, 117);
}
.side-bar__item__link_mod6.active {
  color:mediumpurple;
}

.side-bar__item__link:hover {
  color: gold;
}
