.side-bar {
  grid-area: nav;
  background-color: aliceblue;
  display: flex;
}

.side-bar__nav div {
  margin: 20px 10px 0px 20px;
}
.side-bar__nav div:last-child {
  margin-top: 40px;
} 

.side-bar__nav a {
  font-size: 20px;
  font-weight: 600;
  color:rgb(69, 69, 71);
}

.side-bar__nav a:hover {
  color: gold;
}