.comments-inner {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.commetns__avatar {
  width: 40px;
  height: 40px;
  background-color: gold;
  border-radius: 50%;
  margin-right: 25px;
  margin-left: 35px;
  
}

.commetns__avatar img {
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.comments__text {
  font-size: 16px;
}

.like-wrapper {
  background-color: gold;
  width: 70px;
  margin-left: 75px;
  text-align: center;
  border-radius: 30px;
  color: gray;
  font-size: 14px;
  font-weight: 500;
}

