.find-friends__pagination { 
  min-width: 200px;
  font-size: 15px;
  display: flex; 
  justify-content: center;
  margin-top: 30px;
}

.find-friends__pagination__page {
  margin: 0px 5px 0px 5px;
}

.selected_page {
  margin: -3px 5px 0px 5px; 
  padding: 0px 15px 0px 15px;
  font-size: 18px;
  text-align: right;
  border-radius: 50px;
  background-color:rgb(209, 243, 108);
  color:rgb(106, 106, 108);
  transition-property: background-color color;
  transition-duration: 0.3s;
}

.selected_page:hover {
  background-color: gold;
  color: aliceblue;
}
