
.conteiner__forStickyForm {
  max-width: 655px;
  height: 70px;
  background-color:burlywood;
  position: relative;
}

.messageForm__wrapper {
  width: 100%;
  background-color:antiquewhite;
  display: flex;
  position: absolute;
}

.messageForm__inner {
  width: 100%;
  height: 50px; 
  top: 20px;
  position: sticky;
  display: flex;
  background-color: transparent;
}

.messageForm__textArea {
  padding-left: 15px;
  padding-top: 5px;
  margin-left: 20px;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  background-color: rgb(230, 229, 229) ;
  
}

.messageForm__btn {
  width: 150px;
  height: 30px;
  margin: 20px 30px 0px 0px;
  position: sticky;
  font-size: 16px;
  border-radius: 50px;
}

.messageForm__btn:hover {
  color: aliceblue;
  background-color: gold;
}
