
.invertMessage__item {
  display: flex;
  margin-top: 10px;
}

.invertMessage__decoration {
  margin-left: auto ;
}

.invertMessage__item__innerText {
  border: solid 2px rgb(208, 208, 208);
  border-radius: 10px;
  background-color: white;
  margin-top: 20px;
  margin-right: 10px;
}

.invertMessage__item__text {
  font-size: 14px;
  padding: 0px 20px 0px 20px;
}
