
 .body{
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  color:rgb(69, 69, 71);
} 

.app-wrapper {
  background: lightblue;
  width: 1200px;
  margin: 0 auto;
  display: grid;

  grid-template-areas: 
  "head head"
  "nav main-content";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px; 
}

.app-wrapper__main {
  grid-area: main-content;
  min-height: 800px;
}


