
 .body{
  display: flex;
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(69, 69, 71);
} 

.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;

  grid-template-areas: 
  "head head"
  "nav main-content";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px; 
}

.app-wrapper__main {
  margin: 0;
  grid-area: main-content;
  min-height: 800px;
}

.main-page__h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  color:rgb(106, 106, 108);
  background-color:rgb(209, 243, 108);
  border: none;
  transition-property: background-color color;
  transition-duration: 0.3s;
}

